# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
.venv/
venv/
ENV/
env/
instance/
*.sqlite3
*.db

# VS Code
.vscode/

# Node.js (for Tailwind)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Other file
data_files/